* {
    margin: 0;
    padding: 0;
}

/* 1st Section */

.rose-flower img {
    width: 380px;
    height: 480px;
    margin-left: 130px;
    margin-top: 50px;
}

.banner {
    display: flex;
    background: #E554731A;
    height: 530px;
}

.banner-content {
    margin-left: 200px;
    margin-top: 80px;
}

.banner-content h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.banner-content p {
    width: 500px;
    margin-top: 38px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 15px;
}

.banner-content button {
    margin-top: 14px;
    background-color: #E55473;
    color: #FFF;
    border: none;
    padding: 10px;
    width: 120px;
    border-radius: 6px;
}

/* Feature section styles */



/* Offer section styles */

.offer {
    display: flex;
    background: #E554730D;
    height: 33.2rem;
    margin-top: 100px;
}

.offer-pic {
    width: 300px;
    height: 374px;
    margin-left: 130px;
    margin-right: 100px;
    margin-top: 85px;
}

.offer-content {
    margin-left: 200px;
    margin-top: 210px;
}

.offer-content h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
}

.offer-content p {
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
}

.offer-content button {
    margin-top: 14px;
    background-color: #E55473;
    color: #FFF;
    border: none;
    padding: 10px;
    margin-left: 150px;
    width: 120px;
    border-radius: 6px;
}

/* Social/Feature section styles */

.social-section {
    text-align: center;
}

.social-title {
    margin-top: 100px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.social-info {
    margin-top: 15px;
    margin-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

/* Img section styles */

#feature .first img {
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 10px;
}

#feature .second img {
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 10px;
}

#feature img {
    width: 300px;
    height: 290px;
}


#feature .third img {
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

#social img {
    width: 200px;
    border-radius: 8px;
}

/* Support section styles */

.support {
    margin: 120px 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.support-section {
    display: flex;
    justify-content: space-around;
    padding: 80px 500px;
}

/* Deal section styles */

.section-deal {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-top: 110px;
    margin-right: 210px;
    margin-left: 210px;
    padding: 50px;
    background-size: contain;
}

.section-deal {
    text-align: center;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.deal-content {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 35px;
}

#deal-email {
    background: #FFF;
    padding: 10px;
    width: 330px;
    height: 25px;
    border: none;
}

.deal-button {
    border-radius: 4px;
    background: #E55473;
    width: 100px;
    height: 50px;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    margin-left: 5px;
}

/* Footer styles*/

footer {
    background-color: #111010;
}

.footer-title {
    color: #eee;
    text-align: center;
    margin-top: 130px;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 15px;
}

.footer-info {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 11px;
    padding-bottom: 20px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-weight: 40;
    padding-bottom: 100px;
}